body {
  font-family: "Cairo", serif;
}

header .container .lang-list {
  right: unset;
  left: 0;
}

/* RTL Slide Animations */
.slide-out-left {
  animation: slideOutLeft 0.8s forwards;
}

.slide-in-right {
  animation: slideInRight 0.8s forwards;
}

.slide-out-left,
.slide-in-right {
  animation-timing-function: ease;
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
